.mat-form-field {
  margin: 0 1vw;
}
button {
  margin: 0 1vw;
  min-width: 10vw;
}
::ng-deep .snack{
  background-color: red;
  color: yellow;
}
::ng-deep .mat-simple-snackbar{
  justify-content: center !important;
}
.phone{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%,0);
}
.authpanel {
  text-align: center;
}
